@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap");

.iota .btn {
  margin: 6px;
  font-size: 30px;
  line-height: 1.42;
  padding: 0.6em 1.6em;
  font-weight: normal;
  border: none;
  background-color: white;
  border-radius: 1.46em;
  cursor: pointer;
  vertical-align: bottom;
  transition: background-color 0.3s, color 0.3s;
  font-family: "M PLUS Rounded 1c", sans-serif;
}
.iota .btn:hover {
  background-color: #dff7df;
  transform: scale(1.02);
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
